<div data-payment-target="cc" style="display: none">
  <div class="my-5">
    <%= form.label :credit_card_number, "Credit card number" %>
    <%= form.text_field :credit_card_number, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :expiration_date, "Expiration date" %>
    <%= form.text_field :expiration_date,
          placeholder: "MM/YY",
          class: "input-field" %>
  </div>
</div>
